{% extends 'core/catalogoEmpresas.html' %}

{% block content %} 

<div class="container">
    <div class="bg-dark p-4 rounded-lg bg-opacity-50">
        <h1 class="text-light">Bienvenido a la Universidad Politécnica de Tapachula</h1>
        <p class="text-light">La Universidad Politécnica de Tapachula es una institución educativa dedicada a la formación de profesionales en diferentes áreas de conocimiento.</p>

        <h2 class="text-light">Estancias y estadías</h2>
        <p class="text-light">En nuestra universidad, ofrecemos diversas opciones de estancias y estadías para complementar la formación académica de nuestros estudiantes.</p>

        <h3 class="text-light">Programa de estancias</h3>
        <p class="text-light">Nuestro programa de estancias permite a los estudiantes realizar prácticas profesionales en empresas e instituciones relacionadas con su área de estudio. Durante estas estancias, los estudiantes adquieren experiencia práctica y fortalecen sus habilidades profesionales.</p>

        <h3 class="text-light">Programa de estadías</h3>
        <p class="text-light">Nuestro programa de estadías está diseñado para que los estudiantes realicen una inmersión total en un entorno laboral durante un período determinado. Durante estas estadías, los estudiantes tienen la oportunidad de aplicar los conocimientos adquiridos en el aula en situaciones reales de trabajo.</p>

        <h3 class="text-light">Beneficios de las estancias y estadías</h3>
        <ul class="text-light">
            <li>Adquisición de experiencia práctica en el campo profesional.</li>
            <li>Desarrollo de habilidades y competencias relevantes para el mercado laboral.</li>
            <li>Establecimiento de contactos y redes profesionales.</li>
            <li>Oportunidad de aplicar los conocimientos teóricos en situaciones reales.</li>
        </ul>

        <p class="text-light">Si estás interesado en participar en nuestros programas de estancias y estadías, te invitamos a revisar <a href="ruta_del_manual" class="btn btn-success">este es el manual de uso de la página</a> para obtener más información sobre los requisitos y procedimientos de solicitud.</p>
    </div>
</div>
{% endblock %}


