{% extends 'core/catalogoEmpresas.html' %}

{% block content %}

<div class="d-flex justify-content-center align-items-start vh-100">
    <div class="card w-50" style="max-width: 600px;">
      <div class="card-body">
        <h2 style="color: rgb(0, 0, 0);" >Registro</h2>
        <form method="post" action="{% url 'web:vistaEmpresa' %}">
          {% csrf_token %}
  
          <div class="mb-3">
            <label for="nombre-completo" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="" name="username" required>
          </div>
  
          <div class="mb-3">
            <label for="correo-electronico" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="" name="correo_electronico" required>
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="" name="password" required>
          </div>
  
          <button type="submit" class="btn btn-success">Registrarse</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}