* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/lincesp3.jpeg');
    min-height:  100vh;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background: cover;
   top: 0;
   left: 0;
}

.navbar {
    background-color: rgba(35, 35, 35, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    transition: height 0.3s;
    transition: top 0.3s;
  }
  
  .navbar h1 {
    margin: 0;
    color: #fff;
  }
  .navbar a{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
  }

  .sidebar-toggle {
    text-align:left;
    margin-bottom: 20px;
  }
  

.scroll{
    height: 100px;
}

.wrapper {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 440px;
    /*background-color: white;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(39, 36, 46, 0.708);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease,height .6s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 1200px;
    width: 400px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
    
}
.wrapper .form-box.login{
   transition: transform .50s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.registro{
    position: absolute;
    transform: translateX(400px);
}
.wrapper.active .form-box.registro{
    transition: transform .30s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #303030;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #7b059f;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.control{
    background: transparent;
    border: none;
}
.control option{
    background: transparent;
}
.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
   text-decoration: underline; 
}

.btn {
    width: 100%;
    height: 45px;
    background: #303030;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/*Registros de la empresa*/
.contenedor {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 440px;
    /*background-color: white;*/
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(39, 36, 46, 0.708);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease,height .2s ease;
}

.contenedor.activo-popup{
    transform: scale(1);
}
.contenedor.activo{
    height: 2000px;
    width: 450px;
}

.contenedor .form-box {
    width: 100%;
    padding: 40px;
    
}
.contenedor .form-box.emp{
   transition: transform .18s ease;
   transform: translateX(0);
}
.contenedor.activo .form-box.emp{
    transition: none;
    transform: translateX(-500px);
}
.contenedor .form-box.empresa{
    position: absolute;
    transform: translateX(400px);
}
.contenedor.activo .form-box.empresa{
    transition: transform .18s ease;
    transform: translateX(0);
}
.contenedor .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #303030;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: #252525;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.year{
    background: transparent;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.boton {
    width: 100%;
    height: 45px;
    background: #303030;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.boton-link {
    width: 100%;
    height: 45px;
    background: #303030;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.vista {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1200px;
    height: 700px;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(39, 36, 46, 0.708);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    /*flex-direction: column;
    z-index: 9999;*/
    color: #ffffff;
}
.vista .btnLogin-popup {
    width: 150px;
    height: 60px;
    background: #292729;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.3em;
    color: #ffffff;
    font-weight: 5;
    margin-left: 40px;
    transition: .5s;
}
.vista .btnLogin-popup:hover {
    border: none;
    background: #09804a;
    color: #ffffff;
    box-shadow: 0 0 20px #09804a;
}
.vista .btnRegistrar-popup {
    width: 150px;
    height: 60px;
    background: #292729;
    border: 3px solid #ffffff;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.3em;
    color: #fff291;
    font-weight: 5;
    margin-left: 150px;
    transition: .5s;
}

.vista .btnRegistrar-popup:hover {
    border: none;
    background: #09804a;
    color: #ffffff;
    box-shadow: 0 0 20px #09804a;
}
/*.vista .contenido{
    /*position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    
}*/
.contenido h1{
    width: 550px;
    height: 100px;
    justify-content:center;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(39, 36, 46, 0.708);
    color: #e9e9e9;
    margin-bottom: 200px;
}

.navegar .btnVinculacion-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navegar .btnVinculacion-popup:hover {
    background: #fff;
    color: #162938;

}