body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/lincesp3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-color 0.3s ease;
}

.text-center {
  background-color: rgba(35, 35, 35, 0.6);
  color: white; /* Cambia el color del texto según tus preferencias */
  padding: 10px; /* Añade espacio interno para que el fondo sea visible */
}

.sidebar{
  display: none;
}

.sidebar.active{
  display: block;
}

.sidebar-custom {
  position: center;
  top: 20px; /* Ajusta el valor según tus necesidades */
  left: 0;
}


.button-container{
  text-align: center;
  margin-top: 20px;
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}
  
.navbar {
  background-color: rgba(35, 35, 35, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  transition: height 0.3s;
  transition: top 0.3s;
}

.navbar h1 {
  margin: 0;
  color: #fff;
}
.navbar a{
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 40px;
}
.navegar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.navegar a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.event {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(35, 35, 35, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #e8e8e8;
}

.event-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.event-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.event-description {
  margin-bottom: 10px;
}

.event-details {
  color: #e3e3e3;
}

.scroll-background {
  background-color: #f5f5f5;
}

.sidebar-toggle {
  text-align:left;
  margin-bottom: 20px;
}

.button-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: rgba(35, 35, 35, 0.8);
  color: #e8e8e8;
  overflow-y: auto;
}

.sidebar h3 {
  margin-top: 0;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #e8e8e8;
  text-decoration: none;
}

.sidebar a:hover {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navegar .btnVinculacion-popup:hover {
  background: #fff;
  color: #162938;

}

